// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.home-cont{
    background: #fafafa;
    .codegram-user{
        width: 222px;
        height: 222px;
        object-fit: cover;
    }
    .p-images{
        padding: 10px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}